[credential]
	helper = store
[alias]
	cherrypick = "cherry-pick"
	conflicts = "diff --name-only --diff-filter=U --relative"
	changed = "diff-tree --no-commit-id --name-only HEAD -r"
	resetorigin = "!f() {	\
		ORIGIN_BRANCH=$(git rev-parse --abbrev-ref --symbolic-full-name @{u});	\
		git reset --hard $ORIGIN_BRANCH;	\
		}; f"
	pushupstream = "!f() { git push --set-upstream origin	\
		$(git rev-parse --abbrev-ref HEAD); }; f"
	pushmain = "!f() {	\
		CURRENT_BRANCH=$(git rev-parse --abbrev-ref HEAD);	\
		git pull -r origin main && git checkout main	\
		&& git merge $CURRENT_BRANCH && git push;	\
		git checkout $CURRENT_BRANCH;	\
		}; f"
[rerere]
	enabled = false
[include]
	path = ~/.gitconfig_local
[init]
	defaultBranch = main
